body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
        "nav header"
        "nav main"
        "nav footer";
    grid-template-columns: 200px 1fr;
    height: 100vh;
    box-sizing: border-box;
    color: #333;
}

aside {
    grid-area: nav;
    background-color: #f1f1f1;
    padding: 1rem;

    position: fixed;   /* 固定位置 */
    left: 0;           /* 边栏靠左 */
    top: 0;            /* 从顶部开始 */
    width: 200px;      /* 边栏宽度 */
    height: 100%;      /* 边栏高度占满整个视窗的高度 */
    /* overflow-y: auto;  如果内容超出高度，允许垂直滚动 */
    /* 可以根据需要添加其他样式，如背景色、边框等 */
}


header {
    grid-area: header;
    text-align: center;
    padding: 1rem;
    background-color: #e7e7e7;
}

main {
    grid-area: main;
    text-align: center;
    padding: 2rem;
}

footer {
    grid-area: footer;
    background-color: #f1f1f1;
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 0.5rem 0;
}


.profile {
    display: flex;
    justify-content: space-between; /* 保持元素分散对齐 */
    align-items: flex-start; /* 确保所有列从顶部开始对齐 */
    gap: 2rem;
    padding: 2rem;
}

.profile-photo, .education, .current-projects {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.profile-photo {
    display: flex;
    flex-direction: column;
    align-items: center; /* 确保子元素在容器中居中对齐 */
}

.profile-photo img {
    width: 300px; /* 或者你希望的任何尺寸 */
    height: 300px; /* 使宽度和高度相同以创建一个完美的圆形 */
    border-radius: 50%; /* 这个属性将图片变为圆形 */
    border: 3px solid #ccc; /* 可选的边框 */
    object-fit: cover; /* 确保图片在框内适当地填充 */
}

.education, .current-projects{
    text-align: left;
}


.education h2, .current-projects h2 {
    margin: 0 0 1rem 0;
}

.education ul, .current-projects ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sub-projects {
    margin-left: 20px; /* 增加缩进 */
    font-size: 0.9em;  /* 减小字体大小 */
}

.project {
    display: flex;
    align-items: center;
    margin-bottom: 40px;  /* 增加项目之间的外边距 */
    padding: 20px;        /* 在项目内部添加内边距 */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* 可选：添加阴影效果增强视觉层次 */
}

.project img {
    width: 50%;
    height: auto;
}

.project-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 子元素默认左对齐 */
    padding-left: 20px;     /* 在图片和文字之间添加一些间隔 */
}

.project-text h3 {
    width: 100%;
    text-align: center;      /* 标题居中对齐 */
}

.project-text p {
    text-align: left;        /* 段落左对齐 */
}

.project:nth-child(odd) {
    flex-direction: row-reverse;
}

.project:nth-child(even) {
    flex-direction: row;
}

.my-kitties {
    color: #f1f1f1; 
}

.my-kitties:hover {
    color: #cccccc; 
}

